<button
  [title]="title()"
  [type]="type()"
  class="flex gap-2 items-center duration-300 cursor-pointer px-4 py-2 rounded-xl"
  [class]="customStyles()"
  [ngClass]="{
    'bg-sidebar-bg text-white hover:bg-sidebar-accent': variant() === 'primary',
    'bg-white border border-sidebar-bg hover:bg-sidebar-bg hover:text-white text-sidebar-bg':
      variant() === 'secondary',
    'bg-transparent border-0': variant() === 'tertiary'
  }"
  (click)="handleOnClick($event)"
>
  <ng-content />
</button>
