<main class="flex w-full h-screen overflow-y-auto">
  <section class="bg-sidebar-bg w-1/5 text-white flex flex-col">
    <div class="flex items-center gap-3 py-6 px-5 border-b border-b-sidebar-accent">
      <span class="h-12 w-12 rounded-xl bg-white flex items-center justify-center">
        <lucide-icon [img]="icons.Pill" [size]="30" color="#2a9d90" />
      </span>
      <div>
        <h1 class="font-bold text-2xl">PharmaCare</h1>
        <p class="text-gray-300">Management System</p>
      </div>
    </div>

    <div class="flex items-center gap-3 py-6 px-5 border-b border-b-sidebar-accent">
      <span class="h-12 w-12 rounded-full bg-sidebar-accent flex justify-center items-center"
        >UN</span
      >
      <div>
        <h5>User Name</h5>
        <p
          class="border rounded-2xl text-black font-semibold px-2 py-0.5 my-2 text-sm border-white"
        >
          User role
        </p>
      </div>
    </div>

    <ul class="px-6 py-3 flex flex-col gap-1 overflow-y-auto flex-1">
      @for(navigation of userNavigation(); track $index){
      <li>
        <a
          [title]="navigation.label"
          class="flex items-center gap-3 p-3 hover:bg-sidebar-accent duration-300 rounded-2xl"
          [routerLink]="navigation.route"
          routerLinkActive="bg-white text-sidebar-bg hover:bg-white"
        >
          <lucide-icon [img]="navigation.icon" color="currentColor" />
          <p>{{ navigation.label }}</p></a
        >
      </li>
      }
    </ul>

    <div class="flex flex-col gap-3 py-6 px-5 border-t border-t-sidebar-accent mt-auto">
      @if(userRole()==='admin'){
      <ul>
        <li>
          <a
            title="Settings"
            class="flex items-center gap-3 p-3 hover:bg-sidebar-accent duration-300 rounded-2xl"
            routerLink="/admin/settings"
            routerLinkActive="bg-white text-sidebar-bg hover:bg-white"
          >
            <lucide-icon [img]="icons.Settings" color="currentColor" />
            <p>Settings</p></a
          >
        </li>

        <li>
          <a
            title="User Management"
            class="flex items-center gap-3 p-3 hover:bg-sidebar-accent duration-300 rounded-2xl"
            routerLink="/admin/user-management"
            routerLinkActive="bg-white text-sidebar-bg hover:bg-white"
          >
            <lucide-icon [img]="icons.UserCog" color="currentColor" />
            <p>User Management</p></a
          >
        </li>
      </ul>
      }

      <app-button
        title="Logout"
        variant="secondary"
        class="flex gap-2 items-center"
        customStyles="w-full justify-center hover:bg-white hover:!text-sidebar-bg"
      >
        <lucide-icon [img]="icons.LogOut" color="#2a9d90" />
        <p>Logout</p>
      </app-button>
    </div>
  </section>
  <section class="w-3/4">
    <router-outlet />
  </section>
</main>
