@if(isModalOpen()){

<div
  class="w-screen h-screen absolute top-0 left-0 bg-[#0000005f] flex flex-col justify-center items-center"
>
  <div class="bg-white rounded-2xl w-2/5 pb-3 max-h-4/5 overflow-y-auto relative">
    <div
      class="flex justify-between items-start pt-4 px-5"
      [class.pb-4]="hasFixedHeader()"
      [ngClass]="{
        'sticky top-0 z-10 bg-white border-b border-b-gray-300': hasFixedHeader()
      }"
    >
      <div>
        <h6 class="text-xl font-bold my-1">{{ title() }}</h6>
        <p>{{ subtitle() }}</p>
      </div>

      @if(hasXCloseButton()){
      <app-button
        title="Close Modal"
        variant="tertiary"
        customStyles="ml-auto"
        (clickEvent)="handleModalClose()"
      >
        <lucide-icon [img]="icons.X" color="black" [size]="18" />
      </app-button>
      }
    </div>

    <div class="px-5 my-5">
      <ng-content />
    </div>

    @if(hasBottomCloseBtn()){
    <div class="w-full border-t border-t-gray-300 py-5 px-8">
      <app-button title="Close Modal" customStyles="w-full" (clickEvent)="handleModalClose()"
        >Close</app-button
      >
    </div>
    }
  </div>
</div>

}
