<form class="flex flex-col gap-2 px-5" [formGroup]="userForm">
  <app-text-input
    placeholder="Enter full name"
    label="Full Name"
    [control]="userForm.controls.fullName"
  />

  <app-text-input
    placeholder="Enter email address"
    label="Email Address"
    [control]="userForm.controls.email"
  />

  <app-select-input
    [options]="options"
    label="Role"
    placeholder="Select a role"
    [control]="userForm.controls.role"
  />

  <div class="flex items-center justify-end gap-2 mt-2">
    <app-button title="Cancel" variant="secondary"> Cancel </app-button>
    <app-button title="Create User"> Create User </app-button>
  </div>
</form>
