<div class="rounded-2xl border border-gray-300 overflow-hidden">
  <table class="w-full border-collapse">
    <thead>
      <tr class="border-b border-gray-200 text-left text-sm font-semibold">
        @for(col of headCols(); track $index){
        <th class="py-3 px-4" [class.text-right]="col === 'Actions'">{{ col }}</th>
        }
      </tr>
    </thead>

    <tbody>
      @for(medication of medications; track $index){
      <tr class="border-b border-gray-100 text-sm hover:bg-gray-200 group">
        <td class="py-3 px-4">
          <span>
            <h6>{{ medication.name }}</h6>
            <p class="text-sm text-gray-500">{{ medication.genericName }}</p>
          </span>
        </td>
        <td class="py-3 px-4">{{ medication.category }}</td>
        <td class="py-3 px-4">
          {{ medication.batchNumber }}
        </td>
        <td class="py-3 px-4">
          <span class="flex gap-2 items-center">
            <p>{{ medication.quantity }}</p>
            @if(medication.quantity < medication.minStock){
            <lucide-icon [img]="icons.TriangleAlert" color="#efb100" [size]="15" />
            }
          </span>
        </td>
        <td class="py-3 px-4">{{ medication.unitPrice | currency : 'GHC' }}</td>
        <td class="py-3 px-4 text-red-500">
          <span class="flex gap-1 items-center">
            <p>{{ medication.expiryDate | date : 'MMM dd, yyyy' }}</p>
          </span>
        </td>
        <td class="py-3 px-4">
          <span>
            <span
              class="px-2 py-1 rounded-2xl text-xs text-nowrap"
              [ngClass]="{
                'bg-green-100 text-green-400': medication.quantity >= medication.minStock,
                'bg-yellow-100 text-yellow-400': medication.quantity < medication.minStock
              }"
            >
              {{ medication.quantity < medication.minStock ? 'Low Stock' : 'In Stock' }}
            </span>
          </span>
        </td>
        <td class="py-3 px-4">
          <div
            class="flex justify-end gap-2 items-center opacity-0 translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-200 group-focus-within:opacity-100"
          >
            <app-button title="Edit" variant="tertiary">
              <lucide-icon [img]="icons.Pencil" [size]="15" color="#99a1af" />
            </app-button>

            <app-button title="Delete" variant="tertiary">
              <lucide-icon [img]="icons.Trash2" [size]="15" color="#99a1af" />
            </app-button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
