<div class="rounded-2xl border border-gray-300 overflow-hidden text-gray-500">
  <table class="w-full border-collapse">
    <thead>
      <tr class="border-b border-gray-200 text-left text-sm font-semibold">
        @for(col of headCols; track $index){
        <th class="py-3 px-4" [class.text-right]="col === 'Actions'">{{ col }}</th>
        }
      </tr>
    </thead>

    <tbody>
      @for(sale of sales; track $index){
      <tr class="border-b border-gray-100 text-sm hover:bg-gray-100 group">
        <td class="py-3 px-4">#{{ sale.id }}</td>
        <td class="py-3 px-4">{{ sale.customerName }}</td>
        <td class="py-3 px-4">
          {{ sale.items.length }}{{ sale.items.length > 1 ? ' items' : ' item' }}
        </td>
        <td class="py-3 px-4">
          <span class="flex items-center gap-2">
            <lucide-icon
              [img]="
                sale.paymentMethod === 'cash'
                  ? icons.HandCoins
                  : sale.paymentMethod === 'card'
                  ? icons.CreditCard
                  : icons.Smartphone
              "
              [size]="15"
            />
            <p class="capitalize">{{ sale.paymentMethod.replace('_', ' ') }}</p>
          </span>
        </td>
        <td class="py-3 px-4 text-black font-semibold">{{ sale.total | currency : 'GHC' }}</td>
        <td class="py-3 px-4">{{ sale.createdAt | date : 'MMM dd, yyyy HH:mm' }}</td>

        <td class="py-3 px-4">
          <span>
            <span class="px-2 py-1 rounded-2xl text-xs text-nowrap bg-green-100 text-green-400">
              {{ sale.status }}
            </span>
          </span>
        </td>
        <td class="py-3 px-4">
          <div class="flex justify-end">
            <app-button title="View Details" variant="tertiary">
              <lucide-icon [img]="icons.Eye" [size]="15" color="#99a1af" />
            </app-button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
